@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Rubik:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --primaryColor: #6ee7b7;
  --navColor: #111827;
  --linkColor: #f50057;
  --headerOne: calc(2.2rem + 1vw);
  --headerTwo: calc(1.3rem + 1vw);
  --headerThree: calc(1rem + 1vw);
}

body {
  background-color: black;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  margin: auto;
  width: 95%;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-size: var(--headerOne);
  margin: 0.5rem 0;
}
h2 {
  font-size: var(--headerTwo);
}
h3 {
  font-size: var(--headerThree);
}
hr {
  margin: 1.5rem 0;
}
strong {
  font-size: 2rem;
}
p {
  margin: 0.3rem;
}
.container {
  padding: 0 1.5rem;
}

.center-container {
  margin: auto;
  width: 70%;
  text-align: center;
}
a {
  color: white;
  padding: 0.5rem 1.3rem;
  text-decoration: none;
  border-radius: 5px;
  margin: 1rem;
}
.primary {
  background: var(--linkColor);
}
.secondary {
  color: var(--linkColor);
  border: 1px solid var(--linkColor);
}
.dot-list {
  list-style-type: disc;
  margin-left: 0.5rem;
}
.inline > li {
  display: inline;
  padding: 0 1.5rem;
}
nav {
  background-color: var(--navColor);
  padding: 2rem;
  min-height: 10vh;
  border-radius: 0 0 10px 10px;
}
nav > ul {
  list-style-type: none;
  text-align: right;
}
nav > ul > li {
  display: inline;
  padding: 1rem;
  margin: 0.5rem;
}
/* .hero {
  height: 100%;
  width: 100%;
} */
.hero {
  margin: 1.5rem 0;
}
.hero h1 span {
  color: var(--primaryColor);
}
.hero-img {
  width: 55%;
  max-height: 70%;
  margin: auto;
  display: block;
}
.hero h1 {
  text-align: center;
}
.section {
  padding: 3rem;
}
.section h1,
.section p {
  text-align: center;
}
.gray-sec {
  background-color: #272727;
}
footer {
  margin-top: 2rem;
  padding: 3rem 2rem;
  text-align: center;
  background-color: var(--navColor);
}
footer > ul {
  list-style-type: none;
}
footer > ul > li {
  display: inline;
  padding: 1rem 2rem;
  margin: 0 2rem;
}
